---
import config from "../../config/config.json"
import { Github, Twitter,Linkedin  } from 'lucide-react';
const {className}   =  Astro.props;
---
<ul class={`${className}`}>
 
  <li class="inline-block">
    <a
      aria-label="twitter share button"
      href={`https://github.com/Venu005/lazy_dev_blog`}
      target="_blank"
      rel="noreferrer noopener"
    >
     <Github className="text-white hover:text-primary" />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="linkedin share button"
      href={`https://twitter.com/__venusai`}
      target="_blank"
      rel="noreferrer noopener"
    >
    <Twitter  className="text-white hover:text-primary"/>
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="linkedin share button"
      href={`https://www.linkedin.com/in/venusai-yalamanchili/`}
      target="_blank"
      rel="noreferrer noopener"
    >
    <Linkedin className="text-white hover:text-primary" />
     
    </a>
  </li>
</ul>
