---
import config from "../config/config.json";
import Base from "../layouts/Base.astro";
import { markdownify } from "../lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import {  FaEnvelope, FaGithub, FaPhoneAlt } from "react-icons/fa";
const entry = await getEntryBySlug("pages", "contact");
const { contact_form_action } = config.params;
const { email, github} = config.contactinfo;
const { title, description, meta_title, image } = entry.data;
---
<Base
 title={title}
 meta_title={meta_title}
 description={description}
 image={image}
 >
   <section class="section">

      <script async defer src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script>
      <div class="visme_d" data-title="lazy_dev&#x27;s_blog" data-url="31999xpx-lazy-dev-039-s-blog" data-domain="forms" data-full-page="false" data-min-height="500px" data-form-id="72767" id="vismeForm"></div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    let observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          let script = document.createElement('script');
          script.src = "https://static-bundles.visme.co/forms/vismeforms-embed.js";
          script.async = true;
          document.body.appendChild(script);
          observer.unobserve(entry.target);
        }
      });
    });

    let formElement = document.getElementById('vismeForm');
    observer.observe(formElement!);
  });
</script>

    </section>
</Base>